allow mediaserver mpdecision_socket:dir r_dir_perms;
unix_socket_send(mediaserver, mpdecision, mpdecision)

unix_socket_send(mediaserver, camera, camera)
unix_socket_connect(mediaserver, adspd, adspd)
allow mediaserver audio_cutback_data_file:dir search;
allow mediaserver audio_cutback_data_file:sock_file write;
