
allow system_server mpdecision_socket:dir r_dir_perms;
unix_socket_send(system_server, mpdecision, mpdecision)

allow system_server sysfs_mmi_touch:file rw_file_perms;
allow system_server sysfs_mmi_touch:dir search;
allow system_server sysfs_vibrator:file rw_file_perms;
allow system_server livedisplay_sysfs:file rw_file_perms;
